<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ead_frontend">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ead_frontend">
        <activity
            android:name=".ui.home.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar">
        </activity>
        <activity
            android:name=".ui.home.DashboardBrief"
            android:theme="@style/Theme.Ead_frontend.NoActionBar"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".ui.stationOwner.ShedRegistration"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar">
        </activity>
        <activity
            android:name=".ui.stationOwner.FuelType"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar">
        </activity>
        <activity
            android:name=".ui.stationOwner.PetrolArrival"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar">
        </activity>
        <activity
            android:name=".ui.stationOwner.DieselArrival"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar">
        </activity>
        <activity
            android:name=".ui.stationOwner.AvailabilityList"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar">
        </activity>
        <activity
            android:name=".ui.stationOwner.UpdateHome"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.user.UserProfile"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar">

        </activity>
        <activity android:name=".ui.user.UserLogin"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar"/>
        <activity android:name=".ui.user.UserRegistration"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar"/>

    </application>
</manifest>