<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ead_frontend">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Ead_frontend"
        tools:targetApi="31">
        <activity
            android:name=".ui.home.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar">
        </activity>
        <activity
            android:name=".ui.home.DashboardBrief"
            android:theme="@style/Theme.Ead_frontend.NoActionBar"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.stationOwner.ShedRegistration"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar">
        </activity>
        <activity
            android:name=".ui.stationOwner.PetrolArrival"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar">
        </activity>
        <activity
            android:name=".ui.stationOwner.AvailabilityList"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar">
        </activity>
        <activity
            android:name=".ui.stationOwner.UpdateHome"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar">
        </activity>
        <activity
            android:name=".ui.stationOwner.ListUpdate"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar">
        </activity>
        <activity android:name=".ui.user.UserLogin"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.user.UserRegistration"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar"/>
        <activity android:name=".ui.user.UserProfile"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar"/>
        <activity android:name=".ui.user.UserUpdateDelete"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar"/>
        <activity
            android:name=".ui.queue.queue_create"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar">

        </activity>
        <activity
            android:name=".ui.queue.queue_exit"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar">

        </activity>
        <activity
            android:name=".ui.queue.queue_join"
            android:exported="true"
            android:theme="@style/Theme.Ead_frontend.NoActionBar">
        </activity>

    </application>

</manifest>